.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}

.profile-preview {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 3px solid #19396c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #19396c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #162c50;
}

.upload-button {
  background-color: #19396c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #162c50;
}

@media (max-width: 768px) {
  .profile-preview {
    width: 50vw;
    height: 50vw;
  }
}
