.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map {
  flex-grow: 1;
  width: 100%;
  margin-top: 3%;
  padding: 0;
  /* margin-top: 5%;
  margin-left: 5%; */
  width: 100%;
}

.location-container {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  /* padding: 5%; */
  width: 30%;
  height: 100%;

  /* display: block; */
  /* margin-right: 10%; */

  /* height: 100vh; */
  /* padding: 5%; */
}

.location {
  margin-right: 2%;
}

.location-input-container {
  padding-bottom: 5%;
}

.logo-heading {
  color: whitesmoke;
}

body {
  margin: 0; /* Remove default margin */
}
.progress-text {
  color: whitesmoke;
  margin-left: 5%;
}

.logo-safemap {
  width: 50px;
}
